@import 'variables';

body {
    background-color: $color1b;
    padding-top: 50px;
}

.box {
    width: min(250px, 50%);
    background-color: $color1;
    color: $color5;

    margin: 50px auto;
    padding: 40px;
    display: grid;
    justify-content: center;

    border: 1px gradient(rgb(206, 206, 206), rgb(175, 177, 180));
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(136, 136, 136);

    &.--box-error > h2 {
        color: $color-error;
        + p { margin: -7px auto; }
    }
}

h2 {
    color: $color4;
    font-variant: small-caps;
    margin-top: -5px;
    text-align: center;
}

.input-group {
    margin: 10px 0;
    position: relative;
    font-family: Cambria;

    input {
        margin: 5px 0;
        padding: 7px 10px;
        z-index: 100;

        outline: none;
        border: none;
        border-radius: 4px;
        border-bottom: 1px solid $color4;
        box-shadow: none !important;

        font: inherit;

        &::placeholder {
            opacity: 0;
        }

        &:focus, &:not(:placeholder-shown), &:-webkit-autofill {
            + label {
                transform: translate(6px, -15px) scale(.8);
                font-weight: bold;
            }
        }

        &:focus {
            background-color: $color2;
            outline: 2px solid $color4;
            outline-color: $color3;
        }
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        transform: translate(10px, 15px);
        transform-origin: left;
        transition: transform .25s;
        color: $color4;
    }
}

.buttons input[type=button] {
    border-radius: 7.5px;
    padding: 7.5px 10px;
    margin: 0 5px 0 0;
    background-color: $color2b;

    &:hover {
        background-color: $color2;
        cursor: pointer;
    }

    &:active {
        background-color: $color3;
        color: $color1;
    }

    &.ok:hover { background-color: $color-success-light; }
    &.cancel:hover { background-color: $color-error-light; }
    &.ok:active { background-color: $color-success; }
    &.cancel:active { background-color: $color-error; }
}

.--text-bold {
    font-weight: bold;
    font-style: italic;
}

.tooltip {
    position: relative;
    display: inline-block;
    //border-bottom: 1px dotted black;

    .tooltiptext {
        display: none;
        background-color: $color-tooltip;
        box-shadow: 0 0 2px $color1;
        color: $color1;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        position: fixed;
        z-index: 100;
        width: max-content;
        margin: -75px 0 0 40px;
    }

    &:not(.disabled):hover .tooltiptext { display: block; }
}

#message {
    position: fixed;
    z-index: 300;
    bottom: 30px;
    width: min(400px, 50%);
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;

    background-color: $color2d;
    color: $color1;
    box-shadow: $color5 1px 3px 6px;
    
    .--message-title {
        font-weight: bold;
    }

    .--message-body {
        font-style: italic;
    }
}

@media (max-width: 1920px) {
    html { zoom: 75%; }
}

@media (max-width: 1024px) {
    html { zoom: 60%; }
}