@import 'variables';

form {
    display: grid;
    justify-content: center;
    font-family: Cambria;

    input[type=submit], input[type=button] {
        padding: 5px 10px;
        margin: 15px auto 0 auto;
        width: 150px;
        height: 35px;
        border-radius: 10px;
        background-color: $color2;

        &:hover {
            background-color: $color2b;
            cursor: pointer;
        }

        &:active {
            background-color: $color3;
            color: $color1;
        }
    }
}