@import 'variables';

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: $color3;
    color: $color1;
    user-select: none;
    z-index: 999;

    .menu, .item > ul {
        box-shadow: $color5 0px 3px 10px;
    }

    .menu {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;

        > div { padding: 0 5px; }

        .version {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-style: italic;
        }

        .time {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: inline-flex;
            
            div {
                margin: 0 5px;
                line-height: 30px;
            }

            .date::before { @include icon('/static/svg/month.svg'); }
            .clock::before { @include icon('/static/svg/clock.svg'); }
        }

        .version, .time {
            cursor: default;
            font-weight: bold;
        }

        .item {
            width: 100px;
            cursor: pointer;
            text-align: center;

            a { line-height: 30px; }

            > ul {
                position: absolute;
                right: 0;
                top: 30px;
                margin: 0;
                padding: 0;
                background-color: $color3;
                display: none;
                text-align: right;

                li {
                    list-style: none;
                    padding: 3px 7.5px;
                }
            }

            &:hover, li:hover {
                background-color: $color2b;                
                > a {
                    color: $color4;
                    &::before, &::after { filter: invert(10%) sepia(49%) saturate(3175%) hue-rotate(220deg) brightness(95%) contrast(96%) }
                }
            }

            &:hover > ul { display: block; }
        }

        .user > a { font-weight: bold; }

        .user > a::before { @include icon('/static/svg/user.svg'); }
        .admin > a::after { @include icon('/static/svg/admin.svg'); }
        .passwd > a::after { @include icon('/static/svg/passwd.svg'); }
        .logout > a::after { @include icon('/static/svg/logout.svg'); }
    }
}