@import 'variables';

.--patient {
    grid-area: patient;
    margin-top: 10px;

    form#patient {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        padding: 20px;
        
        .input-group, .buttons {
            margin: 7px 10px;
        }

        .input-group input[type=text] {
            width: 90%;
        }
    }
}