<div class="--clev-info">
    <div class="--info-clev-name">{{ clev.name }}</div>
    <div class="--info-id">{{ clev.id.replace('clev-','') }}</div>
    <div class="--info-user">{{ clev.user.data['name'] }}</div>
    <div class="--info-time">{{ clev.time }}</div>
    {% if not clev.sign %}
        <div class="--info-sign tooltip" onclick="sign_record();">
            <div class="tooltiptext">Firmar Evento</div>
        </div>
    {% endif %}
    <div class="--info-save"></div>
</div>

<div class="--record">
    <form id="record">

        {% set empty = '-' %}
        
        {% set section = 'mc' %}
        {% set show_section = section in clev.sections %}
        {% if not (clev.sign and not show_section) %}
            <div class="--section">
                <div class="--section-title">motivo de consulta</div>
                {% if not clev.sign %}
                    <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                        onclick="add_del_section('{{ section }}');"></div>
                {% endif %}
                {% if show_section %}
                    <div class="--section-content">
                        {% if clev.sign %}
                            {{ clev.data.get(section) or empty }}
                        {% else %}
                            <input type="text" name="{{ section }}" value="{{ clev.data.get('{{ section }}') or '' }}">
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        
        {% set section = 'ea' %}
        {% set show_section = section in clev.sections %}
        {% if not (clev.sign and not show_section) %}
            <div class="--section">
                <div class="--section-title">enfermedad actual</div>
                {% if not clev.sign %}
                    <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                        onclick="add_del_section('{{ section }}');"></div>
                {% endif %}
                {% if show_section %}
                    <div class="--section-content">
                        {% if clev.sign %}
                            {{ clev.data.get(section) or empty }}
                        {% else %}
                            <textarea name="{{ section }}">{{ clev.data.get(section) or '' }}</textarea>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}


        {% set section = 'evolucion' %}
        {% set show_section = section in clev.sections %}
        {% if not (clev.sign and not show_section) %}
            <div class="--section">
                <div class="--section-title">evolución</div>
                {% if not clev.sign %}
                    <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                        onclick="add_del_section('{{ section }}');"></div>
                {% endif %}
                {% if show_section %}
                    <div class="--section-content">
                        {% if clev.sign %}
                            {{ clev.data.get(section) or empty }}
                        {% else %}
                            <textarea name="{{ section }}">{{ clev.data.get(section) or '' }}</textarea>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}


        {% set antecedentes_neg = 'negativo' %}
        {% set antec_dict = {
            'antecedentes personales': [
                'hipertensión', 'diabetes', 'enf. cardiovasculares', 'enf. respiratorias', 'enf. endocrinas',
                'cáncer', 'osteoporosis', 'artritis reumatoide', 'epilepsia', 'enf. mentales', 'enf. hemorrágicas',
                'anomalías congénitas', 'alergias', 'cirugías', 'otros'
            ],
            'antecedentes familiares': [
                'hipertensión', 'diabetes', 'enf. cardiovasculares', 'enf. respiratorias', 'enf. endocrinas',
                'cáncer', 'artritis reumatoide', 'enf. mentales', 'enf. hemorrágicas', 'otros'
            ]
            } %}
        {% for section, antec_list in antec_dict.items() %}
            {% set show_section = section in clev.sections %}
            {% if not (clev.sign and not show_section) %}
                <div class="--section">
                    <div class="--section-title">{{ section }}</div>
                    {% if not clev.sign %}
                        <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                            onclick="add_del_section('{{ section }}');"></div>
                    {% endif %}
                    {% if show_section %}
                        <div class="--section-content --section-columns --section-columns-4">
                            {% for antec_item in antec_list %}
                                <div class="--list-title">{{ antec_item }}</div>
                                {% if clev and clev.sign %}
                                    <div>{{ clev.data.get(section + '_' + antec_item) or empty }}</div>
                                {% else %}
                                    <input type="text" name="{{ section }}_{{ antec_item }}"
                                        value="{{ clev.data.get(section + '_' + antec_item) or antecedentes_neg }}">
                                {% endif %}
                                <div></div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}


        {% set ho_neg = 'ninguna' %}
        {% set ho_dict = {
            'general': 'ha sido sometido a anestesia general',
            'local': 'le han aplicado anestesia local',
            'exodoncia': 'le han realizado alguna exodoncia',
            'hemorragia': 'ha presentado hemorragia postexodoncia'
        } %}

        {% set section = 'hist_odont' %}
        {% set show_section = section in clev.sections %}
        {% if not (clev.sign and not show_section) %}
            <div class="--section">
                <div class="--section-title">historia odontológica</div>
                {% if not clev.sign %}
                    <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                        onclick="add_del_section('{{ section }}');"></div>
                {% endif %}
                {% if show_section %}
                    <div class="--section-content --section-columns --section-columns-3a">
                        {% for item, text in ho_dict.items() %}
                            <label>
                                <div class="--list-title">{{ item }}</div>
                                {% if clev and clev.sign %}
                                    <div>{{ 'si' if clev.data.get('ho_' + item) else 'no' }}</div>
                                {% else %}
                                    <input type="checkbox" name="ho_{{ item }}"
                                        {{ 'checked' if clev.data.get('ho_' + item) }}>
                                {% endif %}
                            </label>
                            <div></div>
                            <div class="--list-title">{{ 'observaciones' if item in ['hemorragia'] else 'complicaciones' }}</div>
                            {% if clev and clev.sign %}
                                <div style="grid-column: 4/7;">{{ clev.data.get('ho_obs_' + item) or empty }}</div>
                            {% else %}
                                <input type="text" name="ho_obs_{{ item }}" style="grid-column: 4/7;"
                                    value="{{ clev.data.get('ho_obs_' + item) or ho_neg }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}


        {% set section = 'tto_previo' %}
        {% set show_section = section in clev.sections %}
        {% if not (clev.sign and not show_section) %}
            {% set tto_previo_neg = 'buena' %}
            {% set tto_previo_list = [
                'prevención', 'operatoria', 'cirugía', 'endodoncia',
                'periodoncia', 'rehabilitación', 'ortodoncia'
                ] %}
            {% set tto_previo_actitud = {
                'previa': 'actitud ante los tratamientos previos',
                'actual': 'actitud ante el tratamiento actual'
            } %}

            <div class="--section">
                <div class="--section-title">tratamientos odontológicos previos</div>
                {% if not clev.sign %}
                    <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                        onclick="add_del_section('{{ section }}');"></div>
                {% endif %}
                {% if show_section %}
                    <div class="--section-content --section-columns">
                        {% for item in tto_previo_list %}
                            <label>
                                <div class="--list-title">{{ item }}</div>
                                {% if clev and clev.sign %}
                                    <div>{{ 'si' if clev.data.get('tto_previo_' + item) else 'no' }}</div>
                                {% else %}
                                    <input type="checkbox" name="tto_previo_{{ item }}"
                                        {{ 'checked' if clev.data.get('tto_previo_' + item) }}>
                                {% endif %}
                            </label>
                        {% endfor %}
                    </div>
                    <div class="--section-content --section-columns">
                        {% for item, text in tto_previo_actitud.items() %}
                            <div class="--list-title">{{ text }}</div>
                            {% if clev and clev.sign %}
                                <div style="grid-column: 2/5;">{{ clev.data.get('tto_previo_' + item) or empty }}</div>
                            {% else %}
                                <input type="text" name="tto_previo_{{ item }}" style="grid-column: 2/5;"
                                    value="{{ clev.data.get('tto_previo_' + item) or tto_previo_neg }}">
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}


        {% set section = 'salud_oral' %}
        {% set show_section = section in clev.sections %}
        {% if not (clev.sign and not show_section) %}
            {% set salud_oral_list = [
                'dolor en músculos masticatorios', 'dolor en a.t.m.', 'ruido de a.t.m.',
                'alteración en el movimiento', 'desarmonías oclusales', 'hábitos',
                'xerostomía', 'odontalgia', 'dolor/ardor en tejidos blandos',
                'sensibilidad dentaria', 'sangrado gingival', 'halitosis'
            ] %}

            <div class="--section">
                <div class="--section-title">estado de salud oral</div>
                {% if not clev.sign %}
                    <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                        onclick="add_del_section('{{ section }}');"></div>
                {% endif %}
                {% if show_section %}
                    <div class="--section-content --section-columns">
                        {% for item in salud_oral_list %}
                            <div>
                                <label>
                                    <div class="--list-title">{{ item }}</div>
                                    {% if clev and clev.sign %}
                                        {{ 'si' if clev.data.get('salud_oral_' + item) else 'no' }}
                                    {% else %}
                                        <input type="checkbox" name="salud_oral_{{ item }}"
                                            {{ 'checked' if clev.data.get('salud_oral_' + item) }}>
                                    {% endif %}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}


        {% set section = 'higiene' %}
        {% set show_section = section in clev.sections %}
        {% if not (clev.sign and not show_section) %}
            {% set higiene_list = [ 'higiene', 'seda dental', 'cepillo de dientes', 'crema dental', 'enjuague bucal' ] %}
            {% set higiene_options_a = [ 'buena', 'regular', 'mala' ] %}
            {% set higiene_options_b = [ 'no utiliza', '1 vez al día', '2 veces al día', '3 veces al día', 'más de 3 veces al día' ] %}

            <div class="--section">
                <div class="--section-title">higiene oral</div>
                {% if not clev.sign %}
                    <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                        onclick="add_del_section('{{ section }}');"></div>
                {% endif %}
                {% if show_section %}
                    <div class="--section-content --section-columns --section-columns-6a">
                        {% for item in higiene_list %}
                            <div class="--list-title">{{ item }}</div>
                            {% if clev and clev.sign %}
                                {{ clev.data.get('higiene_' + item) }}
                            {% else %}
                                <select name="higiene_{{ item }}">
                                    {% set options = higiene_options_a if item in ['higiene'] else higiene_options_b %}
                                    {% for opt in options %}
                                        <option value="{{ opt }}" {{ 'selected' if clev.data.get('higiene_' + item) == opt }}>{{ opt }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                            <div></div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}


        {% set section = 'sv' %}
        {% set show_section = section in clev.sections %}
        {% if not (clev.sign and not show_section) %}
            <div class="--section">
                <div class="--section-title">signos vitales</div>
                {% if not clev.sign %}
                    <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                        onclick="add_del_section('{{ section }}');"></div>
                {% endif %}
                {% if show_section %}
                    <div class="--section-content">
                        <div class="--section-columns --section-columns-6b">
                            <div class="--list-title">peso (kg)</div>
                            {% if clev and clev.sign %}
                                {{ clev.data.get('clinico_peso') or empty }}
                            {% else %}
                                <input type="text" name="clinico_peso" id="weight"
                                    value="{{ clev.data.get('clinico_peso') or '' }}">
                            {% endif %}
                            <div></div>
                            <div class="--list-title">talla (cm)</div>
                            {% if clev and clev.sign %}
                                {{ clev.data.get('clinico_talla') or empty }}
                            {% else %}
                                <input type="text" name="clinico_talla" id="height"
                                    value="{{ clev.data.get('clinico_talla') or '' }}">
                            {% endif %}
                            <div></div>
                            <div class="--list-title">imc</div>
                            <div id="bmi">-</div>
                        </div>
                        <div class="--section-columns --section-columns-6b">
                            <div class="--list-title">fc (lpm)</div>
                            {% if clev and clev.sign %}
                                {{ clev.data.get('clinico_fc') or empty }}
                            {% else %}
                                <input type="text" name="clinico_fc"
                                    value="{{ clev.data.get('clinico_fc') or '' }}">
                            {% endif %}
                            <div></div>
                            <div class="--list-title">pa (mmhg)</div>
                            {% if clev and clev.sign %}
                                {{ clev.data.get('clinico_pa') or empty }}
                            {% else %}
                                <input type="text" name="clinico_pa"
                                    value="{{ clev.data.get('clinico_pa') or '/' }}">
                            {% endif %}
                            <div></div>
                            <div class="--list-title">pam</div>
                            <div id="map">-</div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}


        {% set section = 'examen_clinico' %}
        {% set show_section = section in clev.sections %}
        {% if not (clev.sign and not show_section) %}
            {% set io_options = [ 'no evaluado', 'normal', 'alterado' ] %}
            {% set io_list = [
                'labios', 'carrillos', 'surco vestibular', 'encía', 'reborde alveolar',
                'lengua', 'piso de boca', 'frenillos', 'paladar duro', 'paladar blando',
                'amígdalas / orofaringe', 'glándulas salivales'
            ] %}
            <div class="--section">
                <div class="--section-title">examen intraoral</div>
                {% if not clev.sign %}
                    <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                        onclick="add_del_section('{{ section }}');"></div>
                {% endif %}
                {% if show_section %}
                    <div class="--section-content">
                        {% for item in io_list %}
                            {% if clev and clev.sign %}
                                <div class="--section-columns --section-columns-4b">
                                    <div class="--list-title">{{ item }}</div>
                                    <div>{{ io_options[ (clev.data.get('io_' + item, 0) | int) or 0 ] }}</div>
                                    <div class="--list-title">detalle</div>
                                    <div>{{ clev.data.get('io_obs_' + item) or empty }}</div>
                                </div>
                            {% else %}
                                <div class="--section-columns --section-columns-3b">
                                    <div class="--list-title">{{ item }}</div>
                                    <div class="--horizontal">
                                        {% for opt in range(io_options | length) %}
                                            <label>
                                                <input type="radio" name="io_{{ item }}" value="{{ opt }}"
                                                    {{ 'checked' if clev.data.get('io_' + item)|int or 0 == opt }}>
                                                {{ io_options[opt] }}
                                            </label>
                                        {% endfor %}
                                    </div>
                                    <div></div>
                                    <div class="--horizontal">
                                        <div class="--list-title">detalle</div>
                                        {% if clev and clev.sign %}
                                            <div>{{ clev.data.get('io_obs_' + item) or empty }}</div>
                                        {% else %}
                                            <input type="text" name="io_obs_{{ item }}"
                                                value="{{ clev.data.get('io_obs_' + item) or empty }}">
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}


        {% set section = 'perio' %}
        {% set show_section = section in clev.sections %}
        {% if not (clev.sign and not show_section) and 1==2 %}
            <div class="--section">
                <div class="--section-title">periodontograma</div>
                {% if not clev.sign %}
                    <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                        onclick="add_del_section('{{ section }}');"></div>
                {% endif %}
                {% if show_section %}
                    <div class="--section-content">
                        {% with perio_id=None %}
                            {% include 'clinical_events/periodontograma.html' %}
                        {% endwith %}
                    </div>
                {% endif %}
            </div>
        {% endif %}


        {% set section = 'procedimiento' %}
        {% set show_section = section in clev.sections %}
        {% if not (clev.sign and not show_section) %}
            <div class="--section">
                <div class="--section-title">descripción operatoria</div>
                {% if not clev.sign %}
                    <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                        onclick="add_del_section('{{ section }}');"></div>
                {% endif %}
                {% if show_section %}
                    <div class="--section-content">
                        {% if clev.sign %}
                            {{ clev.data.get(section) or empty }}
                        {% else %}
                            <textarea name="{{ section }}">{{ clev.data.get(section) or '' }}</textarea>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}


        {% set section = 'diagnostico' %}
        {% set show_section = section in clev.sections %}
        {% if not (clev.sign and not show_section) %}
            <div class="--section">
                <div class="--section-title">diagnóstico</div>
                {% if not clev.sign %}
                    <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                        onclick="add_del_section('{{ section }}');"></div>
                {% endif %}
                {% if show_section %}
                    <div class="--section-content">
                        {% if clev.sign %}
                            {{ clev.data.get(section) or empty }}
                        {% else %}
                            <textarea name="{{ section }}">{{ clev.data.get(section) or '' }}</textarea>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}


        {% set section = 'plan' %}
        {% set show_section = section in clev.sections %}
        {% if not (clev.sign and not show_section) %}
            <div class="--section">
                <div class="--section-title">plan</div>
                {% if not clev.sign %}
                    <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                        onclick="add_del_section('{{ section }}');"></div>
                {% endif %}
                {% if show_section %}
                    <div class="--section-content">
                        {% if clev.sign %}
                            {{ clev.data.get(section) or empty }}
                        {% else %}
                            <textarea name="{{ section }}">{{ clev.data.get(section) or '' }}</textarea>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}


        {% set section = 'formula' %}
        {% set show_section = section in clev.sections %}
        {% if not (clev.sign and not show_section) and 1==2 %}
            <div class="--section">
                <div class="--section-title">fórmula</div>
                {% if not clev.sign %}
                    <div class="new-event --event-{{ 'del' if show_section else 'add' }}"
                        onclick="add_del_section('{{ section }}');"></div>
                {% endif %}
                {% if show_section %}
                    <div class="--section-content">
                        {% if clev.sign %}
                            {{ clev.data.get(section) or empty }}
                        {% else %}
                            <textarea name="{{ section }}">{{ clev.data.get(section) or '' }}</textarea>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

    </form>
</div>

<script type="text/javascript">
    updateDisabled();

    function update_obs (name, enabled) {
        $(`input[name='${name}']`).prop('disabled', !enabled);
    }

    // Update checks in HO
    $('input[type=checkbox][name^=ho_]').each((i, e) => {
        handler(e, () => update_obs(
            $(e).prop('name').replace('ho_', 'ho_obs_'),
            $(e).prop('checked')
        ));
    });

    // Update radios in IO
    $('input[type=radio][name^=io_]').each((i, e) => {
        handler(e, () => update_obs(
            $(e).prop('name').replace('io_', 'io_obs_'),
            $(e).prop('checked') && $(e).val() > 0
        ));
    });

    // Update BMI
    $('#weight,#height').each((i, e) => {
        handler(e, () => {
            let bmi = $('#weight').val()/Math.pow($('#height').val()/100, 2);
            $('#bmi').text((bmi > 0 && bmi !== Infinity) ? bmi.toFixed(1) : '-');
        });
    });

    // Update MAP
    $('input[name=clinico_pa]').each((i, e) => {
        handler(e, () => {
            let nibp = $(e).val().split('/');
            let map = (nibp[0] * 1 + nibp[1] * 2) / 3;
            $('#map').text((nibp.length == 2 && nibp.every(n => n > 0)) ? map.toFixed(0) : '-');
        });
    });
</script>