{% extends 'base.html' %}

{% block title %} Sigma - Historia Clínica {% endblock %}

{% block style %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/board.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/record.css') }}">
{% endblock %}

{% block content %}
  {% with user = user %}
    {% include 'menu.html' %}
  {% endwith %}

  <div class="board">
    <div class="--patient"></div>
    <div class="--history"></div>
    <div class="--workarea">
      <div class="--workarea-content">
        {% with sections=[
          'mc', 'ea', 'evolucion', 'antecedentes', 'hist_odont', 'tto_previo',
          'salud_oral', 'higiene', 'examen_clinico', 'perio', 'procedimiento',
          'diagnostico', 'plan', 'formula'
          ] %}
          {% include 'clinical_events/odontologia.html' %}
        {% endwith %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %} {% endblock %}
