{% extends 'base.html' %}

{% block title %} Sigma - Historia Clínica {% endblock %}

{% block style %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/board.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/patient.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/history.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/record.css') }}">
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/socketio/socket.io.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/patient.js') }}"></script>
{% endblock %}

{% block content %}
  {% with user = user %}
    {% include 'menu.html' %}
  {% endwith %}

  <div class="board">
    <div class="--patient">
      <h2>Buscar Paciente</h2>
      <form id="patient">
        <div class="input-group">
          <input type="text" name="surname" placeholder="-">
          <label>Nombre(s)</label>
        </div>
        <div class="input-group">
          <input type="text" name="lastname" placeholder="-">
          <label>Apellido(s)</label>
        </div>
        <div class="input-group">
          <input type="text" name="id" placeholder="-">
          <label>ID</label>
        </div>
        <div class="buttons">
          <input type="button" value="Buscar" onclick="load_history()">
          <input type="button" value="Nuevo paciente" onclick="new_patient()">
        </div>
      </form>
    </div>

    <div class="--history"></div>

    <div class="--workarea">
      <div class="--workarea-content"></div>
    </div>
  </div>
{% endblock %}