{% if user.data %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/menu.css') }}">
  <nav>
    <div class="menu">
      <div class="version">Sigma 2.0 - 220801</div>
      <div class="time">
        <div class="date"></div>
        <div class="clock"></div>
      </div>
      <div class="item user">
        <a>{{ user.id }}</a>
        <ul>
          {% if 'admin' in user.data['roles'] %}
            <li class="admin" onclick="window.location = `{{ url_for('dashboard') }}`;"><a>Administrador</a></li>
          {% endif %}
          <li class="passwd" onclick="window.location = `{{ url_for('password') }}`;"><a>Cambiar contraseña</a></li>
          <li class="logout" onclick="window.location = `{{ url_for('logout') }}`;"><a>Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endif %}
