{% extends 'base.html' %}

{% block title %} Cambiar Contraseña {% endblock %}

{% block style %} {% endblock %}

{% block content %}
  {% if request.method == 'POST' %}
    <div class="box">
      <p class="{{ result[0] }}">
        {% if result[0] == 'success' %} Éxito {% else %} Ocurrió un Error {% endif %}
      </p>
      <p class="mensaje">{{ result[1] | safe }}</p>
      {% if result[0] == 'success' %}
        <p class="mensaje">En 3 segundos será redirigid@ a la página de inicio.</p>
        <script type="text/javascript">
          var timer = setTimeout(() => window.location=`{{ url_for('.index') }}`, 3000);
        </script>
      {% endif %}
    </div>
  {% endif %}
  {% if request.method != 'POST' or result[0] != 'success' %}
    <div class="box">
      <form action="" method="post">
        <table>
          <tr>
            <th>Usuario:</th>
            <td>{{ user.data['name'] }} (<span style="text-transform: lowercase;">{{ user.id }})</span></td>
          </tr>
          <tr>
            <th>Contraseña actual:</th>
            <td><input type="password" name="old_password" required></td>
          </tr>
          <tr>
            <th>Nueva contraseña:</th>
            <td><input type="password" name="new_password" required></td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="buttons">
                <input type="submit" value="Cambiar Contraseña">
                <input type="button" value="Regresar" onclick="window.location.replace(`{{ url_for('.index') }}`);">
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %} {% endblock %}
