#modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo-modal);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

#modal.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

#modal > div {
    width: 400px;
    overflow: hidden;
    background-color: var(--color-fondo-elementos);
    background: linear-gradient(to bottom, var(--color-menu-fondo-grad1), var(--color-menu-fondo-grad2));
    box-shadow: 0 0 10px var(--color-sombra);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    padding: 10px;
}

#modal > div.alerta {
    background: linear-gradient(to bottom, #ffff69, #ebd831);
    color: red;
}

#modal .titulo {
    background-color: var(--color-fondo-titulos);
    color: var(--color-letra-titulos);
    font-weight: 600;
    padding: 10pt;
    margin: -10px -10px 10px -10px;
}

#modal .cerrar {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: var(--color-letra-titulos);
    color: var(--color-modal-cerrar);
    margin-top: -2pt;
    margin-right: -2pt;
}

#modal .cerrar:hover {
    background: linear-gradient(-45deg, var(--color-boton-reset-hover-grad1), var(--color-boton-reset-hover-grad2));
    color: var(--color-letra);
}

#modal .cerrar:active {
    background: linear-gradient(-45deg, var(--color-boton-active-grad1), var(--color-boton-active-grad2));
}

#modal .cuerpo {
    padding: 5pt 10pt;
}

#modal .pie {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 30pt 7pt 30pt;
}

#modal .alerta textarea {
    width: 100%;
    height: 60pt;
    overflow-y: scroll;
    color: red;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
}

#modal textarea::placeholder {
    font-style: italic;
}