div.caja {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 95%;
    height: 85%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    padding: 0;
}

div.encabezado {
    width: 200pt;
    height: 100%;
    padding-right: 15pt;
    z-index: 999;
    margin-left: 10pt;
    overflow-y: scroll;
}

div.encabezado div.cajaenc {
    width: 150pt;
    height: auto;
    border-radius: 5pt;
    box-shadow: 2px 2px 6px var(--color-sombra);
    background: linear-gradient(to bottom, var(--color-cajaenc-grad1), var(--color-cajaenc-grad2));
    font-size: 12pt;
    margin: 12pt auto;
    padding: 8pt;
}

div.cajaenc span.titulo {
    color: var(--color-letra);
    font-weight: 600;
    display: inline;
    text-transform: uppercase;
}

div.cajaenc span.subtitulo {
    color: var(--color-cajaenc-subtitulo);
    font-style: italic;
    font-weight: 400;
}

#cajaAlerta {
    background: linear-gradient(to bottom, #ffff69, #ebd831);
}

#cajaAlerta span {
    color: red;
}

#cajaAlerta span.subtitulo {
    font-weight: 500;
}

div.historia {
    height: 100%;
    flex-grow: 1;
    background-color: var(--color-fondo-elementos);
}

div.atenciones {
    position: absolute;
    left: -182pt;
    top: 50%;
    width: 180pt;
    height: 80%;
    transform: translateY(-50%);
    transition: all 1s;
}

div.atenciones:hover, div.atenciones:focus, div.atenciones:active {
    transform: translate(182pt, -50%);
}

div.atenciones > div.contenido {
    border-radius: 0 15pt 15pt 0;
    background-color: var(--color-fondo-elementos2);
    height: 100%;
    overflow-y: auto;
    box-shadow: var(--color-sombra) 1px 1px;
}

div.atenciones > div.flecha {
    position: absolute;
    border-radius: 0 0 15pt 15pt;
    background-color: var(--color-fondo-titulos);
    color: var(--color-letra-titulos);
    width: 100pt;
    height: 20pt;
    line-height: 20pt;
    top: calc(50% - 20pt);
    left: calc(100% - 43pt);
    padding: 1pt 5pt 3pt 5pt;
    text-align: center;
    vertical-align: middle;
    transform: rotate(270deg);
}

table.atenciones {
    border-collapse: collapse;
}

iframe#obj {
    border: none;
}