div.buscar {
    position: absolute;
    width: 40%;
    left: 30%;
    margin-top: calc(25pt + 5%);
    padding: 0;
    border-radius: 15pt;
    overflow: hidden;
}

div.buscar > div.titulo {
    background-color: var(--color-fondo-titulos);
    color: var(--color-letra-titulos);
    width: 100%;
    height: 30pt;
    margin: 0 -1px -1px 0;
    text-indent: 15pt;
    display: inline-block;
    flex: none;
}

div.titulo > p {
    font-weight: 600;
    margin-top: 8pt;
}

div.buscar > form {
    display: flex;
    flex-direction: column;
    margin: 10pt auto;
    align-items: center;
}

div.buscar table {
    width: 80%;
    margin-bottom: 5pt;
}

table.datospaciente {
    width: 100%;
    margin: 10pt auto;
}

td {
    padding: 5pt 0;
}

input[type="text"], select {
	width:90%;
	/*make input doesnt overflow inside div*/
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	/*make input doesnt overflow inside div*/
    text-transform: uppercase;
}

div.ventana {
    position: absolute;
    width: 60%;
    left: 20%;
    margin-top: calc(150pt + 5%);
}

div.pacientes {
    width: 100%;
    padding: 0;
    overflow: hidden;
}

table.pacientes {
    width: 100%;
    border-collapse: collapse;
}

table.pacientes tr:nth-child(even) {
    background-color: var(--color-fondo-elementos);
}

table.pacientes tr:nth-child(odd) {
    background-color: var(--color-fondo-elementos2);
}

table.pacientes thead, table.pacientes tr:first-child {
    background-color: var(--color-fondo-titulos);
    color: var(--color-letra-titulos);
    font-weight: 600;
    height: 30pt;
    text-indent: 15pt;
}

table.pacientes tr:not(:first-child) td {
    padding: 8pt;
}

table.pacientes tr:not(:first-child):hover {
    background-color: var(--color-fondo-resaltar);
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

div.paginas {
    padding-top: 2pt;
    text-align: center;
}

div.paginas > a {
    cursor: pointer;
}

div.error {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300pt;
    padding: 3pt 15pt;
    display: flex;
    justify-content: center;
}