.board {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 30px;
  right: 0;
  display: grid;
  grid-template-columns: 35% 10px auto;
  grid-template-rows: min(200px, 30%) 10px auto;
  grid-template-areas: "patient . workarea" ". . workarea" "history . workarea";
}
.board h2 {
  margin: 20px auto 5px auto;
}
.board .--workarea {
  grid-area: workarea;
  position: relative;
  overflow: hidden;
}
.board .--workarea .--workarea-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}
