.board {
  position: absolute;
  top: 50px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: grid;
  grid-template-columns: 25% 15px auto;
  grid-template-rows: min(200px, 30%) 10px auto;
  grid-template-areas: "patient . workarea" ". . workarea" "history . workarea";
}
.board .--history {
  grid-area: history;
  background-color: rgb(89, 255, 0);
}
.board .--workarea {
  grid-area: workarea;
  position: relative;
  overflow: hidden;
}
.board .--workarea .--workarea-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 20px;
}
