form {
  display: grid;
  justify-content: center;
  font-family: Cambria;
}
form input[type=submit], form input[type=button] {
  padding: 5px 10px;
  margin: 15px auto 0 auto;
  width: 150px;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(208, 208, 222);
}
form input[type=submit]:hover, form input[type=button]:hover {
  background-color: rgb(186, 186, 195);
  cursor: pointer;
}
form input[type=submit]:active, form input[type=button]:active {
  background-color: rgb(67, 90, 134);
  color: rgb(255, 255, 255);
}
