.--patient {
  grid-area: patient;
  margin-top: 10px;
}
.--patient form#patient {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding: 20px;
}
.--patient form#patient .input-group, .--patient form#patient .buttons {
  margin: 7px 10px;
}
.--patient form#patient .input-group input[type=text] {
  width: 90%;
}
