.--patient {
  grid-area: patient;
  margin-top: 10px;
}
.--patient form#patient {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding: 20px;
}
.--patient form#patient .input-group, .--patient form#patient .buttons {
  margin: 7px 10px;
}
.--patient form#patient .input-group input[type=text] {
  width: 90%;
}
.--patient form#patient .buttons input[type=button] {
  border-radius: 7.5px;
  padding: 7.5px 10px;
  margin: 0 5px 0 0;
  background-color: rgb(186, 186, 195);
}
.--patient form#patient .buttons input[type=button]:hover {
  background-color: rgb(208, 208, 222);
  cursor: pointer;
}
.--patient form#patient .buttons input[type=button]:active {
  background-color: rgb(67, 90, 134);
  color: rgb(255, 255, 255);
}
