div.tablero {
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    display: flex;
    margin: 15% auto;
    width: 65%;
}

div.tablero > div {
    display: inline-block;
    flex: none;
    cursor: pointer;
    width: 100pt;
    height: 40pt;
    margin: 10pt 25pt;
    padding: 20pt 15pt;
}

div.tablero > div > p {
    text-align: center;
}