div.login {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 25%;
    transform: translate(-50%, -50%);
}

label {
    display: inline-block;
    clear: left;
    width: 30%;
    text-align: right;
}

input {
    display: inline-block;
}

input[type=submit] {
    display: block;
    margin: 10pt auto;
}

p {
    text-align: center;
}

.links {
    margin: auto;
    font-size: small;
}